@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");

$white: hsl(0, 0, 100%);
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display";
  background: url("../images/pattern-background-desktop.svg") no-repeat fixed;
  background-color: $pale-blue;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .card {
    max-width: 22.5rem;
    background-color: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 10px 12px hsl(245deg 75% 52% / 22%);
    padding-bottom: 1.875rem;
    &-banner {
      img {
        border-radius: 0.625rem 0.625rem 0 0;
        width: 100%;
      }
    }

    &-text {
      text-align: center;
      margin: 1.25rem auto;
      width: 80%;

      h1 {
        margin-bottom: 1.25rem;
        color: $dark-blue;
        font-weight: 900;
      }
      p {
        font-size: 0.875rem;
        margin-bottom: 0.625rem;
        color: $desaturated-blue;
      }
    }

    &-plan {
      background-color: $very-pale-blue;
      width: 90%;
      margin: 0 auto;
      border-radius: 0.625rem;
      padding: 1.25rem 0;
      div {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        figure {
          align-items: center;
          display: flex;
          gap: 1.25rem;

          figcaption {
            p:nth-child(1) {
              font-weight: 900;
              font-size: 0.875rem;
            }
            p:nth-child(2) {
              font-size: 0.875rem;
              color: $desaturated-blue;
            }
          }
        }

        a {
          font-size: 0.875rem;
          color: $bright-blue;
          &:hover {
            text-decoration: none;
            opacity: 0.8;
          }
        }
      }
    }
    // card button

    &-button {
      margin-top: 1.875rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .btn-1 {
        cursor: pointer;
        color: $white;
        font-weight: 700;
        width: 80%;
        padding: 0.75rem 0;
        background-color: $bright-blue;
        border: none;
        border-radius: 0.652rem;
        box-shadow: 0px 0.125rem 0.625rem $dark-blue;

        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
      .btn-2 {
        cursor: pointer;
        border: none;
        background-color: $white;
        margin-top: 0.313rem;
        color: $desaturated-blue;
        font-weight: 900;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}
